
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3cmtpbWl1a3Rwc2tna2d0dWlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Nzg4MTE0NSwiZXhwIjoyMDgzNDU3MTQ1fQ.rvDb8eK6-FxS-5lUFFM3D5DSh8PtJTzAPBMeBkbwh34
# Groq API
GROQ_API_KEY=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

STRIPE_SECRET_KEY=sk_test_...
PORT=3000