# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://twrkimiuktpskgkgtuip.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3cmtpbWl1a3Rwc2tna2d0dWlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4ODExNDUsImV4cCI6MjA4MzQ1NzE0NX0._PyYGW6GcNTpfB35UswGsO9qfvEuumbFungGsicDkbc

# Groq API
EXPO_PUBLIC_GROQ_API_KEY=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

# Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

